<hr>
<br>
<%- list_categories({
    depth: 1,
}) %>
<p id="count">
    已有<span id="catsum">...</span>个分类，
    共计<span id="tagsum">...</span>个标签。
</p>
<script>
setTimeout(function(){
    $(document).ready(function(){
        $("#catsum").html($(".category-list-item").length);
        $("#tagsum").html($(".tags > a").length);
    });
},500);
</script>
<div class="tags">
    <%- tagcloud({
        min_font: 16, 
        max_font: 35, 
        amount: 999, 
        color: true, 
        start_color: 'gray', 
        end_color: 'black',
    }) %>
</div>
<style>
    .category-list li{
        display: inline-block;
        margin: 0 1em .5em 0;
        padding: 4px;
        border: 1px solid lightgray;
        font-size: 1.2em;
    }
    .category-list a {
        color: gray;
    }
    .category-list-count::before {
        content: "("
    }
    .category-list-count::after {
        content: ")"
    }
    .category-list-item:hover a {
        color: gray;
        text-decoration: none;
        font-weight: bold;
    }
    .category-list-count {
        margin-left: 2px;
        font-size: .9em;
    }
    .article-entry ul li:before{
        display: none;
    }
    .article-inner  {
        text-align: center;
    }
    .tags {
        max-width: 40em;
        margin: 2em auto;
        margin-top: 0em;
    }
    .tags a {
        margin-right: 1em;
        border-bottom: 1px solid gray;
        line-height: 65px;
        white-space: nowrap;
    }
    .tags a:hover {
        border-bottom: 2px solid black;
        font-style: italic;
        text-decoration: none;
    }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }
</style>